@import './includes/_config.scss';

.clem,
.mountain,
.road {
  width: 200px;
}

.clem-img {
  width: 14px;
  border-radius: 50%;
}
.btn-mobile-menu {
  border: 0;
  background: transparent;
}

.fa-caret-down {
  margin-left: 6px;
}
.hidden {
  display: none;
}

.header {
  a {
    color: $white;
  }
  .header-logo {
    font-size: $header-icon-size;
    display: flex;
    font-size: 37px;
  }

  .header-navigation-wrapper {
    display: flex;
    flex: 1;
    order: 1;
    align-items: center;
    font-size: $fs-14;
    .header-search {
      margin: 0 20px;
      padding: 3px 6px;
      background: #ffffff20;
      border-radius: 5px;
      display: flex;
      align-items: flex-end;
      .header-search-input {
        background: transparent;
        border: 0;
        width: 220px;
      }
      .header-search-input::placeholder {
        font-size: 14px;
        color: $white;
        padding: 0 5px;
      }
      .slash {
        vertical-align: bottom;
      }
    }
    .header-navigation-items {
      display: flex;
      .header-navigation-item {
        margin-right: 16px;
        .pulls {
          display: none;
        }
      }
    }
  }

  .header-navigation-appended {
    display: flex;
    align-items: center;
    order: 2;
    color: $white;
    span {
      margin-right: 16px;
      cursor: pointer;
    }
    .appended-clem {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
}
