@import './includes/_config.scss';

i {
  color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  background-color: #24292e;
  .header-mobile-menu {
    display: none;
    @include for-size(medium-width) {
      display: inline-block;
    }
  }
  .header-logo {
    font-size: 30px;
  }
  .header-nav-wrapper {
    display: flex;
    flex: auto;
    margin-left: 20px;
    .hidden {
      display: none;
    }
    @include for-size(medium-width) {
      display: none;
    }
    .header-search {
      .search-form {
        display: flex;
        border: 1px solid #6a737d;
        padding: 3px 10px;
        border-radius: 5px;
        .searh-input {
          border: 0;
          outline: 0;
          width: 230px;
          background: #24292e;
        }
        .searh-input::placeholder {
          color: #d1d5da;
        }
        img {
          width: 20px;
        }
      }
    }
    .search-nav {
      display: flex;
      .header-nav-items {
        color: #ffffff;

        display: flex;
        align-items: center;

        .header-nav-item {
          margin-left: 10px;
          a {
            color: #fff;
          }
        }
        .pull-requests {
          @include for-size(large-width) {
            display: none;
          }
        }
        .pulls {
          display: none;
          @include for-size(large-width) {
            display: inline-block;
          }
        }
      }
    }
  }

  .header-nav-appended {
    display: flex;
    align-items: center;
    span {
      margin-right: 20px;
      cursor: pointer;
    }
    span:last-child {
      margin-right: 0;
    }
    .appended {
      @include for-size(medium-width) {
        margin: 0;
      }
    }
    .appended-plus,
    .appended-clem {
      @include for-size(medium-width) {
        display: none;
      }
    }
  }
}
