@import './includes/_config.scss';
//main background background: #ebe2de
//right section background: linear-gradient(#ebe2de, #e5c7b7, #8e6d6e);
//kim bw #508164; color: #44564a; border-bottom: 13px solid #44564a;

html {
  scroll-behavior: smooth;
}

img {
  width: 40px;
}
.container {
  padding: 20px;
}
.header-container {
  .header-btn-wrapper {
    position: relative;
    z-index: 1;
    .header-btn {
      width: 50px;
      outline: 0;
      cursor: pointer;
      .line {
        width: 100%;
        height: 2px;
        background: #222222;
        display: inline-block;
      }
    }
    .header-btn.cross {
      .line:first-child {
        transform: rotate(45deg);
        transform-origin: 3px 7px;
      }
      .line:last-child {
        transform: rotate(-45deg);
        transform-origin: 15px 0px;
      }
    }
  }
  .header-navigation.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  .header-navigation {
    position: absolute;
    height: 100vh;
    background: pink;
    top: 0;
    left: 0;
    width: 50%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    .header-items {
      font-size: 50px;
      line-height: 2;
      min-width: 200px;
      .header-item {
        text-align: center;
      }
    }
  }
}

.main-container {
  display: flex;

  .banner-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .banner-clem-contents {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .clem-wrapper {
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        .clem-title {
        }
      }
      .banner-sci {
        width: 100%;
        margin: 0px 50px;
        .sci-items {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .work-container {
    width: 50vw;
  }
}
