@import './includes/_config.scss';

html {
  scroll-behavior: smooth;
}
%btn-reset {
  cursor: pointer;
  outline: 0;
  z-index: 2;
}

.wrap {
  background: linear-gradient(#ebe2de, #e5c7b7, #8e6d6e);
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;

  .header-btn {
    width: 50px;
    line-height: 1;
    @extend %btn-reset;

    .line {
      display: inline-block;
      background: #222222;
      width: 100%;
      height: 2px;
      transition: all 0.5s ease;
    }
  }
  .header-btn.cross {
    .line:nth-child(2) {
      display: none;
      transition: all 0.5s ease;
    }
    .line:first-child {
      transform: rotate(45deg);
      transition: all 0.5s ease;
      transform-origin: 5px 6px;
    }
    .line:last-child {
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      transform-origin: 15px 1px;
    }
  }
  .header-navigation,
  .contact-navigation {
    position: fixed;

    @include for-size(medium-width) {
      width: 100%;
    }
  }
  .header-navigation.hidden {
    width: 0%;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .contact-navigation.hidden {
    width: 0%;
    overflow: hidden;
  }

  .header-navigation {
    width: 50%;
    height: 100vh;
    box-shadow: 4px 0px 5px #8e6d6e;
    background: #e5c7b7;
    left: 0;
    top: 0;
    transition: all 0.5s ease;

    .nav-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .nav-items {
        min-width: 300px;
        font-size: 2em;
        line-height: 2;
        font-family: $gothic;
        font-weight: 700;
        @include for-size(small-width) {
          text-align: center;
        }
      }
    }
  }

  .contact-btn {
    width: 50px;
    font-size: 50px;
    @extend %btn-reset;
    .icon {
      display: inline-block;
      transition: all 0.5s ease;
    }
  }

  .contact-btn.rotate {
    .icon {
      transform: rotate(45deg);
      transition: all 0.5s ease;
    }
  }

  .contact-navigation {
    width: 30%;
    height: 100vh;
    background: tan;
    top: 0;
    right: 0;
    transition: all 0.5s ease;

    .contact-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      box-shadow: -5px 1px 5px #8e6d6e;
      flex-wrap: wrap;
      .contact-contents {
        width: 215px;
        min-width: 215px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 20px;
        .profile-img {
          width: 100%;

          img {
            border-radius: 10px;
            box-shadow: 5px 5px 5px #8e6d6e;
          }
        }
        .contact-content {
          padding: 10px;
          line-height: 1.5;
          width: 100%;
          text-align: center;
          p {
            font-size: 0.8em;
            font-weight: 700;
            color: #44564a;
            @include for-size(large-width) {
              font-size: 0.8em;
            }
          }
          h2 {
            text-align: center;
            font-size: 1.2em;
            font-weight: 600;
            @include for-size(large-width) {
              font-size: 1.2em;
            }
          }
        }
        .contact-items {
          font-size: 2em;
          line-height: 1.5;
          display: flex;
          width: 100%;
          justify-content: space-between;
          li {
            width: 20px;
          }
        }
      }
    }
  }
}

.main-container {
  .section-banner {
    height: 100vh;
    font-family: $gothic;

    .banner-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .banner-contents {
        .banner-title {
          font-size: 10em;
          font-weight: 600;
          color: #508164;
          text-align: center;
          @include for-size(large-width) {
            font-size: 8em;
          }
          @include for-size(small-width) {
            font-size: 6em;
          }
          @include for-size(xsmall-width) {
            font-size: 4em;
          }

          span {
            color: #44564a;
            border-bottom: 13px solid #44564a;
            animation: fadeIn 3s;
          }
        }
        .banner-text {
          display: flex;
          justify-content: flex-end;

          li {
            font-size: 1em;
            margin-left: 5px;
            font-weight: 600;
            letter-spacing: 4px;
            color: #ebe2de;
            animation: bannerTextColor 10s linear infinite;
            @include for-size(large-width) {
              font-size: 0.8em;
            }
            @include for-size(medium-width) {
              font-size: 1em;
            }
            @include for-size(small-width) {
              font-size: 0.8em;
            }
            @include for-size(xsmall-width) {
              font-size: 0.6em;
            }
          }

          span {
            font-size: 1.5em;
            color: #8e6d6e;
          }
        }
      }
      .banner-btn {
        @extend %btn-reset;
        position: absolute;
        font-family: $gothic;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        border: 1px solid #222;
        padding: 10px 30px;
        text-transform: uppercase;
        font-weight: 700;
        color: #508164;
        display: inline-block;
        width: 180px;
        margin-bottom: 50px;
        @include for-size(medium-width) {
          width: 200px;
        }
        @include for-size(small-width) {
          width: 300px;
        }

        border: {
          color: #508164;
          bottom: 3px solid;
        }
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          background: #44564a;
          color: #e5c7b7;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

.section-work {
  height: 100vh;
  @include for-size(medium-width) {
    height: auto;
  }

  .work-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;

    .work-contents {
      width: 100%;

      .work-title {
        font-size: 3em;
        font-weight: 700;
        text-align: center;
        margin-bottom: 100px;
        @include for-size(medium-width) {
          font-size: 2em;
          margin-bottom: 80px;
        }
        @include for-size(small-width) {
          margin-bottom: 50px;
        }
        @include for-size(xsmall-width) {
          font-size: 1.5em;

          margin-bottom: 30px;
        }
      }
      .work-items {
        display: flex;
        justify-content: space-between;
        @include for-size(large-width) {
          flex-wrap: wrap;
        }
        @include for-size(medium-width) {
          justify-content: center;
          width: 100%;
        }

        .work-item {
          font-family: $gothic;
          position: relative;
          overflow: hidden;
          margin: 10px;
          min-width: 200px;
          max-width: 420px;
          width: 33%;
          text-align: left;
          line-height: 1.6em;
          font-size: 22px;
          border-radius: 5px;
          box-shadow: 2px 3px 5px #333;
          @include for-size(large-width) {
            width: 45%;
            margin-bottom: 5%;
          }
          @include for-size(medium-width) {
            width: 100%;
            margin-bottom: 10%;
          }

          img {
            max-width: 100%;
            vertical-align: top;
          }
          figcaption {
            position: absolute;
            top: 83%;
            width: 100%;
            background-color: #ffffff;
            padding: 6px 13px 60px;
            box-sizing: border-box;
            transition: all 0.3s ease;
          }
          figcaption:before {
            position: absolute;
            content: '';
            z-index: 2;
            bottom: 100%;
            left: 0;
            width: 100%;
            height: 80px;
            background: linear-gradient(
              to bottom,
              transparent 0%,
              #ffffff 100%
            );
          }
          h3 {
            font-size: 1.2em;
            text-align: center;
            font-weight: 800;
            line-height: 1.2em;
            font-family: $gothic;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          p {
            font-size: 15px;
            opacity: 0.9;
            line-height: 1.5;
            margin-top: 30px;
          }
          a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
          }
        }
        .work-item:hover {
          figcaption {
            top: 260px;
            @include for-size(xlarge-width) {
              top: 170px;
            }
            @include for-size(large-width) {
              top: 210px;
            }
            @include for-size(medium-width) {
              top: 260px;
            }
            @include for-size(small-width) {
              top: 295px;
            }
            @include for-size(xsmall-width) {
              top: 150px;
            }
            @include for-size(xxsmall-width) {
              top: 80px;
            }
          }
        }
        .work-item.hover {
          figcaption {
            top: 260px;
            @include for-size(xlarge-width) {
              top: 170px;
            }
            @include for-size(large-width) {
              top: 210px;
            }
            @include for-size(medium-width) {
              top: 260px;
            }
            @include for-size(small-width) {
              top: 295px;
            }
            @include for-size(xsmall-width) {
              top: 150px;
            }
            @include for-size(xxsmall-width) {
              top: 80px;
            }
          }
        }
      }
    }
  }
}

.section-contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-size(medium-width) {
      width: 70%;
      flex-wrap: wrap;
      justify-content: center;
    }

    .contact-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @include for-size(medium-width) {
        width: 100%;
        order: 1;
      }
      .contact-text {
        h2 {
          font-size: 6em;
          font-weight: 600;
          color: #508164;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: -1px;
          @include for-size(large-width) {
            font-size: 4.5em;
          }

          @include for-size(small-width) {
            font-size: 3.5em;
          }

          span {
            color: #44564a;
            border-bottom: 10px solid #44564a;
          }
        }
      }

      .contact-sci {
        width: 80%;
        margin: 3em auto 0;
        max-width: 445px;
        display: flex;
        justify-content: space-between;

        li {
          width: 20px;
          text-align: center;
          @include for-size(large-width) {
            width: 40px;
          }

          @include for-size(small-width) {
            width: 30px;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }
    .contact-img {
      width: 20%;
      max-width: 200px;
      @include for-size(medium-width) {
        width: 100%;
      }
    }
  }
}

footer {
  padding: 30px;
  box-sizing: border-box;
  p {
    text-align: right;
    font-size: 13px;
  }
}
