@import './includes/_config.scss';

$custom-white : #F3F3ED;

%guide-Btn {
    color: #47564F;
    background: #D5DBDB;
    font-size: 20px;
    padding: 16px;
    border-radius: 6px;
    font-weight: 600;
}

.wrap{
    overflow: hidden;
}

header{
    .header-container{
        position: fixed;
        width: 100%;
        display: flex;
        padding: 2em;
        justify-content: space-between;
        box-sizing: border-box;
        z-index: 2;
        transition: all .3s ease-in-out;

        .logo-box{
            font-size: 40px;
            a{
                color: $custom-white;
            }
        }
    
        .burger-menu{
            display: flex;
            z-index: 3;
            .bar-wrapper{
                width: 50px;
                outline: none;
                cursor: pointer;
                
                .bar{
                    width: 100%;
                    height: 3px;
                    background: $custom-white;
                    display: inline-block;
                    transition: all 0.3s ease;
                }
                &.cross{
                    span{
                        background: #222;
                    }
                    .bar:first-child{
                        transform: rotate(45deg);
                    }
                    .bar:last-child{
                        transform: rotate(-45deg) translate3d(12px, -11px, 0);
                    }
                }
            }
        }
    
        .nav-wrapper{
            font-size: 3em;
            position: fixed;
            right: -100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            top: 0;
            height: 100vh;
            line-height: 1.5;
            text-align: center;
            z-index: 1;
            transition: all 0.3s ease;
            background: #fff;

            &.header-slide{
                right: 0;
                transition: all 0.3s ease;
                @include for-size(medium-width) {
                    width: 100%;
                }

                .nav-items{
                    @include for-size(xsmall-width) {
                        font-size: .6em;
                        line-height: 2;
                    }
                }
            

            }
        }

        &.header-bg-on{
            background: #222222;
            transition: all .3s ease-in-out;
        }
    }
}

main{
    .banner-container{
        .banner-items{
            .slick-slide{
                &:nth-child(1){
                    background: url(../img/slide_01.jpg) no-repeat center center;
                    background-size: cover;
                }
                &:nth-child(2){
                    background: url(../img/slide_02.jpg) no-repeat center center;
                    background-size: cover;
                }
                &:nth-child(3){
                    background: url(../img/slide_03.jpg) no-repeat center center;
                    background-size: cover;
                }
                .banner-item{
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    height: 100vh;
                    .banner-item-content{
                        line-height: 1.5;
                        color: $custom-white;
                        h3{
                            opacity: 0;
                            transform: translateY(30px);
                            font-size: 2em;
                            letter-spacing: .5em;
                            transition: all .3s ease-in-out;
                            color: #D5DBDB;
                            @include for-size(medium-width) {
                                font-size: 1.3em;
                            }
                            @include for-size(xsmall-width) {
                                font-size: .8em;
                                margin-bottom: 1em;
                            }
                        }
                        p{
                            opacity: 0;
                            transform: translateY(30px);
                            font-size: 3em;
                            letter-spacing: .1em;
                            transition: all .3s ease-in-out;
                            @include for-size(medium-width) {
                                font-size: 2em;
                            }
                            @include for-size(xsmall-width) {
                                font-size: 1.2em;
                            }
                        }
                        .guide-btn{
                            @extend %guide-Btn;
                            cursor: pointer;
                            margin-top: 16px;
                            opacity: 0;
                            transform: translateY(30px);
                            transition: all .3s ease-in-out;
                            @include for-size(xsmall-width) {
                                width: 100%;
                            }
        
                        }
                    }
                    
                }

                &.slick-current {
                    .banner-item {
                        
                        .banner-item-content {
                            h3 {
                                opacity: 1;
                                transform: translateY(0);
                                transition: all .3s ease-in-out;
                                transition-delay: .2s;
                            }

                            p {
                            
                                opacity: 1;
                                transform: translateY(0);
                                transition: all .3s ease-in-out;
                                transition-delay: .4s;
                            }
                            .guide-btn{
                                opacity: 1;
                                transform: translateY(0);
                                transition: all .3s ease-in-out;
                                transition-delay: .6s;
                                
                            }
                        }
                    }
                }
            }
        }
    }

    .content-section{
        padding: 8em 0;
        .content-container{
            width: 90%;
            margin: 0 auto;

            .title-wrapper{
                text-align: center;
                margin-bottom: 3em;
                line-height: 1.5;
                @include for-size(medium-width){
                    margin-bottom: 9em;

                }
                @include for-size(xsmall-width){
                    font-size: .8em;

                }

                .title{
                    font-size: 3em;
                    font-weight: 600;
                }
                p{
                    @include for-size(xsmall-width){
                        padding: 0 3em;
    
                    }
                }
            }
            .content-items{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: center;
                margin-top: 5rem;

                .content-item{
                    width: 33%;
                    max-width: 500px;
                    padding: 0 2em 2em;
                    box-sizing: border-box;
                    margin: 3em 0;
                    border: 1px solid #222;

                    @include for-size(medium-width){
                        width: 100%;
                        margin: 0 auto;
                        margin-bottom: 5em;
                    }
                    @include for-size(xsmall-width){
                        width: 90%;
                        line-height: 1.2;
                    }

                    .item-img{
                        display: inline-block;
                        width: 100px;
                        height: 100px;
                        margin-top: -40px;
                        background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
                        border-radius: 50%;
                    }
                    .item-description{
                        margin-top: 2em;
                    }
                }
            }
        }
    }

    .bg-section{
        .bg-container{
            position: relative;
            width: 100%;
            height: 450px;
            background: url(../img/slide_03.jpg) no-repeat;
            background-size: cover;
            background-attachment: fixed;
            @include for-size(medium-width){
               background-position: center;
            }
        }
    }

    .card-section{
        padding: 8em 0;

        .card-container{
            width: 90%;
            margin: 0 auto;
            .title-wrapper{
                text-align: center;
                margin-bottom: 3em;
                line-height: 1.5;
                @include for-size(medium-width){
                    margin-bottom: 9em;
                }   
                @include for-size(xsmall-width){
                    font-size: .8em;
                }   
                .title{
                    font-size: 3em;
                    font-weight: 600;
                }
                p{
                @include for-size(xsmall-width){
                    padding: 0 3em;
                }   
                }
            }
            .card-item-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-top: 5em;

                .card-items{
                    width: 33%;
                    max-width: 500px;   
                    @include for-size(medium-width){
                        width: 100%;
                        margin: 0 auto;
                        margin-bottom: 5em;
                    }   
                    
                    .card-thumb{
                        min-height: 345px;
                        overflow: hidden;
                        position: relative;
                        box-sizing: border-box;
                        background: lightgray;

                        .card-img{
                            position: absolute;
                            top: 30px;
                            left: 0;
                        }
                        .card-overlay{
                            
                            width: 100%;
                            height: 100%;
                            padding: 2em;
                            box-sizing: border-box;
                            z-index: 1;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                            top: -100%;
                            transition: all .2s ease-in-out;


                            .card-overlay-container{
                                line-height: 1.5;

                                h3{
                                    font-size: 2em;
                                    font-weight: 600;
                                }
                                p{

                                }
                                .card-sci{
                                    ul{
                                        display: flex;
                                        width: 80%;
                                        margin: 0 auto;
                                        justify-content: space-between;

                                        li{
                                            color: #fff;
                                            width: 30px;
                                            height: 30px;
                                            border-radius: 50%;
                                            line-height: 30px;
                                            margin-top: 5px;
                                            a{
                                                color: #fff;

                                            }
                                            &.twitter{
                                                background: #00b6f1;
                                            }
                                            &.facebook{
                                                background: #3b5998;
                                            }
                                            &.instagram{
                                                background: #cd486b;
                                            }
                                        }
                                    }
                                }
                            }

                            
                        }
                    }
                    .card-info{
                        text-align: center;
                        line-height: 1.5;
                        background: #95AB99;
                        padding: 1em 0;

                        h3{
                            font-size: 1.5em;
                            font-weight: 600;
                            color: #47564F;
                        }
                        span{
                            font-size: 1em;
                        }
                    }
                    
                    &:hover{
                        .card-overlay{
                            top: 0;
                            background: #95AB99;
                            transition: all .2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

footer{
    padding: 1.5em;
    background: lightgray;
    .footer-container{
        text-align: center;
        font-size: 1em;
        font-weight: 500;
      
    }
}


.slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
    li {
        list-style: none;
        margin: 10px;
        width: 100%;

      &.slick-active button {
        background: #eee !important;
      }
    }
    button {
      border-radius: 50%;
      width: 10px !important;
      height: 10px !important;
      border: none;
      background: #555 !important;
      text-indent: -9999px;
      outline: 0;
      &:hover {
        background: #eee !important;
      }
    }
  }