@import './includes/_config.scss';

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
%btn-deco {
  padding: 6px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #ffffff;
  background-color: #df6c7e;
  cursor: pointer;
  font-weight: 600;
}

%reset-btn-deco {
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #ffffff;
  background-color: #b9dedf;
  cursor: pointer;
  font-weight: 600;
}
%btn-hover {
  color: #e80505;
  background-color: #f05f57;
}
%reset-btn-hover {
  background-color: #65a1a0;
  color: #312e41;
}
.wrap {
  .deco {
    @extend %btn-deco;
    outline: 0;
  }
  .deco:hover {
    @extend %btn-hover;
  }
}
.container {
  .lotto-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    .title {
      font-size: 40px;
      font-weight: 600;
      position: relative;
      display: inline;
      margin: 20px 0 0 0;

      @include for-size(small-width) {
        font-size: 20px;
      }
      @include for-size(xsmall-width) {
        font-size: 16px;
      }
      .point-letter {
        font-size: 70px;
        color: saddlebrown;
      }
      .point-word {
        font-size: 40px;
        color: red;
        font-weight: 600;
      }
    }
    .title:before {
      content: '';
      position: absolute;
      width: 92%;
      height: 4px;
      top: 17px;
      left: 45px;
      background-color: #333;
      @include for-size(small-width) {
        width: 87%;
      }
    }
  }
}

.main-container {
  padding: 16px 20px;
  .user-input-contents {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0a;
    margin: 0 auto;
    @include for-size(small-width) {
      flex-wrap: wrap;
    }
    i {
      margin: 0 20px;
      font-size: 40px;
    }
    button {
      margin: 20px;
    }
    .input-form {
      .input-price {
        border: 0;
        outline: 0;
        border-bottom: 1px solid;
      }
    }
  }
  .reset-btn {
    @extend %reset-btn-deco;
    outline: 0;
  }
  .reset-btn:hover {
    @extend %reset-btn-hover;
  }
  .user-lotto-contents {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .my-lotto {
      .lotto-number {
        border: 3px solid #333;
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 5px;
        text-align: center;
        line-height: 2;
        margin-bottom: 6px;
        font-weight: 600;
        @include for-size(xsmall-width) {
          width: 25px;
        }
      }
      .lotto-number.wins {
        background: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
        border: 3px solid #92ffc0;
        color: #ffffff;
      }
    }
  }

  .win-lotto-contents {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .my-lotto {
      .lotto-number {
        color: #ffffff;
        border: 3px solid #ff9d6c;
        background-image: linear-gradient(135deg, #ff9d6c 10%, #bb4e75 100%);
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 5px;
        text-align: center;
        line-height: 2;
        margin-bottom: 6px;
        font-weight: 600;
        @include for-size(xsmall-width) {
          width: 25px;
        }
      }
    }
  }

  .win-check-contents {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0a;
    margin: 0 auto;
    @include for-size(small-width) {
      flex-wrap: wrap;
      margin: 0;
      width: 100%;
    }
    .win-check-numbers {
      font-size: 20px;
      @include for-size(small-width) {
        margin-bottom: 30px;
      }
      @include for-size(xsmall-width) {
        font-size: 16px;
      }
    }
    .check-btn {
      margin-left: 20px;
    }
  }
  .result-display {
    width: 50%;
    margin: 0 auto;
    @include for-size(xsmall-width) {
      width: 100%;
      margin: 0;
    }
  }
}
