$white: #fff;
$black: #000;
$grey: #4d4d4d;
$light-grey: #b5b5b5;
$link-color: #0366d6;

//index variables
$custom-blue:  #4f79bf;
$custom-yellow: #e9c400;
$custom-black: #222222;
$custom-grey: #4f4f4f;