@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Lora&family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap');

$info-title-size: 20px;
$info-des-size: 15px;

$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-30: 30px;
$fs-burger: 3vh;

$white: #ffffff;
$link-color: #0366d6;
$grey: #6a737d;
$black: #222;
$fs-14: 14px;
$header-icon-size: 32px;
$mobile-icon-size: 25px;
$mobile-logo-size: 36px;

$mb-8: 8px;

$light-gothic: 'Carrois Gothic SC', sans-serif;
$lora: 'Lora', serif;
$gothic: 'Sawarabi Gothic', sans-serif;

$nanum: 'Nanum Brush Script', cursive;
$dohyeon: 'Do Hyeon', sans-serif;
