@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Lora&family=Sawarabi+Gothic&display=swap');

$link-size: 13px;
$info-title-size: 20px;
$info-des-size: 15px;

$fs-14: 14px;
$fs-16: 16px;
$fs-30: 30px;
$fs-burger: 3vh;

$mb-8: 8px;

$light-gothic: 'Carrois Gothic SC', sans-serif;
$lora: 'Lora', serif;
$gothic: 'Sawarabi Gothic', sans-serif;
