@import 'reset-css';

img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #222;
}
button {
  border: 0;
  background: transparent;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-grey;
  opacity: 1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey;
}
